/* Content */

.aspectRatioBox {

  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;

}

/* Nav */

/* Main */

#hero {
  background-image: url(./images/hero.jpg);
  height: 600px;
  background-size: cover;
  background-position: center bottom;

}

h1 {
  font-size: 120px;
  line-height: .8;
  letter-spacing: -5px;

}

/* Port */

.port-wrapper {
  margin-bottom: 20px;

}

.copy-box {
  margin-top: 10px;
  height: auto;
  
}

date {
  font-size: 14px;

}

h2 {
  font-size: 30px;
  
}

p2 {
  font-size: 16px;
  margin-right: -10px;
}

/* Footer */

@media (max-width: 768px) {
  .copy-box {
    margin-left: -15px;
  }

}