/* Content */

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;

}

body {
  font-family: 'Inter', sans-serif;

}

/* Nav */

.nav-link {
  color: black;
  font-weight: 600;

}

/* Main */

#hero {
  background-image: url(./images/hero.jpg);
  height: 600px;
  background-size: cover;
  background-position: center bottom;

}

h1 {
  font-size: 120px;
  line-height: .8;
  letter-spacing: -5px;
  color: white;

}

a {
  color: black;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 5px;
  text-decoration-skip-ink: auto;

}

a:hover {
  text-decoration: underline;
  color: rgb(0, 217, 255);
}

/* Port */

.port-wrapper {
  margin-bottom: 20px;

}

.copy-box {
  margin-top: 10px;
  height: auto;
  
}

h4 {
  font-size: 18px;
  color: darkgrey;

}

h5 {
  font-size: 32px;
  font-weight: 600;
  
}

p3 {
  font-size: 18px;
  margin-right: -10px;
  
}

/* Footer */

/* Responsive */

@media (max-width: 576px) {
  .copy-box {
    margin-left: 20px;
    margin-right: 20px;
  }
  
}